<div class="container product-detail">
	<h2>{{ isEditing ? "Update Product" : "Create Product" }}</h2>

	<form (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label for="name">Name</label>
			<input
				type="text"
				id="name"
				class="form-control"
				[(ngModel)]="product.Name"
				name="Name"
				required />
		</div>

		<div class="form-group">
			<label for="description">Description</label>
			<textarea
				id="description"
				class="form-control"
				[(ngModel)]="product.Description"
				name="Description"
				rows="3"
				required></textarea>
		</div>

		<div class="form-group">
			<label for="price">Price</label>
			<input
				type="number"
				id="price"
				class="form-control"
				[(ngModel)]="product.Price"
				name="Price"
				required />
		</div>

		@if (isEditing) {
		<div class="form-group">
			<label for="imageUrl">Image URL</label>
			<img src="{{ product.ImageURL }}" alt="" />
		</div>
		} @else {
		<div>
			<input
				type="file"
				aria-label="image"
				accept=".jpg, .jpeg, .png"
				(change)="handleChange($event)" />
		</div>
		}

		<!-- <div class="form-group">
			<label for="categoryId">Category ID</label>
			<input
				type="number"
				id="categoryId"
				class="form-control"
				[(ngModel)]="product.CategoryId"
				name="CategoryId"
				required />
		</div> -->

		<select
			name="category"
			id="category"
			(change)="changeCategory($event)"
			[(ngModel)]="this.categoryId"
			class="form-select">
			@for (item of listCategory; track $index) {
			<option value="{{ item.id }}">{{ item.name }}</option>
			}
		</select>

		<div
			class="form-group mt-4 d-flex justify-content-between aligns-items-center">
			<button type="submit" class="btn btn-primary">
				{{ isEditing ? "Update" : "Create" }}
			</button>
			<button
				type="button"
				class="btn btn-secondary"
				(click)="onCancel()">
				Cancel
			</button>
		</div>
	</form>
</div>
